# build artifacts
bin/
obj/
# VS / VS Code
.vs/
*.user
*.suo
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
# local db / files
*.db
*.sqlite
*.sqlite3
/Data/*.db
# logs
*.log
# secrets per env
appsettings.Development.json
appsettings.Local.json
